<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - [%t] - %highlight{%level - %C.%M:%L - %msg%n}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}"/>
        </Console>
        <Console name="LogstashJson" target="SYSTEM_OUT">
            <LogstashLayout dateTimeFormatPattern="yyyy-MM-dd'T'HH:mm:ss.SSSZZZ"
                            templateUri="classpath:LogstashJsonEventLayoutV1.json"
                            prettyPrintEnabled="true"
                            stackTraceEnabled="true"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

<!--
    http://www.baeldung.com/mdc-in-log4j-2-logb
    https://logging.apache.org/log4j/2.x/manual/thread-context.html
    https://blog.oio.de/2010/11/09/logging-additional-information-like-sessionid-in-every-log4j-message/

    To inject into the log messages the tracking ID necessary to filter the log messages into ELK -->
